/*TODO Color pallet
//* src: "https://www.colorhunt.co/palettes/rainbow"

//* dominant colors for the page 
#FF6363
#FFAB76
#FFFDA2
#BAFFB4

/** Fonts color
#212529
#343a40


/** Tins

/** Shades 

/** spacing system 


/* h2{
    font-weight: bold;
    }
     */

button-box {
  background-color: aqua;
}

/** PART 1 **/

.main-title {
}

box-img {
  vertical-align: middle;
}
