//* dominant colors for the page
#FF6363
#FFAB76
#FFFDA2
#BAFFB4

#D74344

/** Fonts color
#212529
#343a40

**/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  width: 70vw;
  height: 100vh;
  margin-left: 15%;
  /*margin-bottom: 5%; */
}

/* ******* FIRST PAGE : WELCOME SECTION *************** */
/* Classes for the first Page! */

.header-top {
  width: 100%;
  height: 10%;
  /* background: #144682; */
}

/*Todo: Parent for all the section */
.section-welcome {
  /* background-color: rebeccapurple; */
  background-color: #30d5c6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  /* padding-left: 50px;*/
  padding-bottom: 6rem;
  gap: 0;
}

/* .arrow-img {
  position: relative;
  display: inline-block;
} */

/*? Parent for the H1*/
/* .left-space {
  width: 10%;
  background-color: grey;
} */

.main-title {
  /* background-color: red; */
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* (child) h1 inside the main-title */
.text-input {
  font-family: "Dosis", sans-serif; /*need to be changed */
  font-weight: 600;
  font-size: 4.5rem;
  letter-spacing: 0.05rem;
  line-height: 5rem;
  color: #f1e8e8;
}

/* .power-on-icon {
  width: 30%;
  height: auto;
  background-color: #e8b9b3;
  border-radius: 50%;
} */

/********* Space between  ***********/
.middle-space {
  width: 7%;
  background-color: grey;
}
/*? parent for img selector - Div container for the picture, */
.img-container {
  width: 50%;
}

/* (child) img inside the omg-container */
.img-pink-juice {
  width: 110%;
  height: auto;
  transform: rotate(-11.09deg);
}

/* .right-space {
  width: 10%;
  background-color: grey;
} */

.footer-bottom {
  width: 100%;
  height: 10rem;
  /* background: #13456a; */
}

/*BTN*/
/* From cssbuttons.io */
.div-btn {
  width: 200px;
}

.c-button {
  color: #000;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  padding: 0.9em 1.6em;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
}

.c-button--gooey {
  color: #06c8d9;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 4px solid #06c8d9;
  border-radius: 0;
  position: relative;
  transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs {
  height: 100%;
  filter: url(#goo);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: -3px;
  right: -1px;
  z-index: -1;
}

.c-button--gooey .c-button__blobs div {
  background-color: #e55415;
  width: 34%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  transform: scale(1.4) translateY(125%) translateZ(0);
  transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs div:nth-child(1) {
  left: -5%;
}

.c-button--gooey .c-button__blobs div:nth-child(2) {
  left: 30%;
  transition-delay: 60ms;
}

.c-button--gooey .c-button__blobs div:nth-child(3) {
  left: 66%;
  transition-delay: 25ms;
}

.c-button--gooey:hover {
  color: #fff;
}

.c-button--gooey:hover .c-button__blobs div {
  transform: scale(1.4) translateY(0) translateZ(0);
}
