* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  width: 70vw;
  height: 100vh;
  margin-left: 15%;
  /*margin-bottom: 5%; */
}

/* ******* SECOND PAGE : VEGGIE SECTION *************** */

.header-top {
  width: 100%;
  height: 8%;
  /* background: #144682; */
}

/*! 2nd FRAME STARTS HERE*/
.section-veggies {
  /* background-color: palevioletred; */
  background-color: #30d5c6;
  /* display: none; */
}

.left-space {
  width: 10%;
  background-color: grey;
}

.main-title {
  background-color: #30d5c6;
  width: 100%;
  display: block;
  padding-top: 1rem;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.small-title {
  font-family: "Dosis", sans-serif; /*need to be changed */

  /* font-family: "Kumbh Sans"; */
  font-weight: 500;
  font-size: 3.5rem;
  letter-spacing: ;
  text-align: center;
  color: #f1e8e8;
  /* color: #palevioletred; */
}
.big-title {
  font-family: "Playfair Display";
  font-weight: 600;
  font-size: 7rem;
  line-height: ;
  text-align: center;
  height: fit-content;

  color: #c56584;

  /*SHADOW TESTS*/
}

/**-------- NEW SECTION IMAGE & OPTIONS BTNS----------**/
/*Todo Parents ot the img and options */
.section-img-and-options {
  width: 100%;
  height: 58vh;
  display: flex;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: ;
  width: 60%;
  padding-bottom: 3%;
  transform: rotate(-11.09deg);
}

.img-carrot-juice {
  width: 80%;
  height: auto;
}

.options-btns-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;

  width: 40%;
}

/* VEGGIES BTNS STARTS HERE*/

.veggie-btns {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  width: 50%;
  height: 10%;
  border-radius: 5px;
  color: #ffffff;
  font-family: Tahoma;
  font-size: 24px;
  font-weight: 100;
  padding: 3rem;
  background-color: #c56584;
  text-shadow: -2px 2px 17px #646464;
  border: solid #ffffff 2px;
  text-decoration: none;
  /* display: inline-block; */
  /*Text is centered */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
}

.veggie-btns:hover {
  background: #eb7f0e;
  border: solid #f5dabd 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
}
